<footer class="col-lg-12 clearfix">
    <div class="top-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-header">Hao.c</div>
                    <a href="/">Home</a>
                    <a href="/tour">Features</a>
                    <a href="/pricing">Pricing</a>
                    <a href="/customers">Customers</a>
                    <a href="/enterprise">Enterprise</a>
                    <a href="https://better-error-pages.statuspage.io/">Better Error Pages</a>
                </div>
                <div class="col-lg-3">
                    <div class="footer-header">Company</div>
                    <a href="http://blog.statuspage.io" target="_blank">Blog</a>
                    <a href="https://jobs.lever.co/statuspageio" target="_blank">Jobs <span class="callout">We're Hiring</span></a>
                    <a href="https://twitter.com/statuspageio" target="_blank">Twitter</a>
                    <a href="https://www.statuspage.io/about">About Us</a>
                    <a data-location="footer" data-toggle="modal" href="#modal-request-demo">Request A Demo</a>

                </div>
                <div class="col-lg-3">
                    <div class="footer-header">Support</div>
                    <a href="http://metastatuspage.com" target="_blank">Server Status</a>
                    <a href="http://doers.statuspage.io/" target="_blank">API Docs</a>
                    <a href="http://help.statuspage.io/" target="_blank">Knowledge Base</a>
                    <a href="mailto:hi@statuspage.io">Email Us</a>
                </div>
                <div class="col-lg-3">
                    <div class="footer-header">Legal</div>
                    <a href="https://www.statuspage.io/terms-of-service" target="_blank">Terms of Service</a>
                    <a href="https://www.statuspage.io/privacy-policy" target="_blank">Privacy Policy</a>
                    <a href="https://www.statuspage.io/security" target="_blank">Security</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <div class="container ">
            <h5 class="pull-right">© 2015. All rights reserved.</h5>
        </div>
    </div>
</footer>