<title>{{title}}</title>
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel='stylesheet' href='../stylesheets/style.css'/>
<link rel='stylesheet' href='../stylesheets/animate.css'/>
<link rel='stylesheet' href='../stylesheets/waterfall.css'/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/stickyNavbar.js/jquery.easing.min.js"></script>
<script src="/bower_components/stickyNavbar.js/jquery.stickyNavbar.min.js"></script>
<script src="/bower_components/stickyNavbar.js/wow.min.js"></script>
<script src="/bower_components/moment/moment.js"></script>
<script src="/javascripts/script.js"></script>
<script src="/javascripts/application.js"></script>
<script src="/javascripts/controller.js"></script>
<script src="/javascripts/services.js"></script>

