{{> nav}}
<div id="banner" class="col-lg-12">
    <div class="hero">
        <div class="container text-center">
            <h1>
                Better Job Hunting Enviroment<br>
                <small>
                    The best way to start your career
                    <br>Just ask us<span data-js-hook="type-to-container"></span>.
                </small>
            </h1>

        </div>
    </div>
</div>
<div id="situation" class="col-lg-12">
    <div class="container">
        <div class="col-lg-4">
            <div class="circle " style="background-color:#006fb2;">
                <div class="content">
                    <div class="number" style="color:#ddea2e;"><h4><span class="count" data-number="10">8</span>million</h4></div>
                    <h4>Offices Worldwide</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="circle " style="background-color:#006fb2;">
                <div class="content">
                    <div class="number" style="color:#ddea2e;"><h4><span class="count" data-number="10">3</span>million</h4></div>
                    <h4>Offices Worldwide</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="circle " style="background-color:#006fb2;">
                <div class="content">
                    <div class="number" style="color:#ddea2e;"><h4><span class="count" data-number="10">15</span>million</h4></div>
                    <h4>Offices Worldwide</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="map" class="col-lg-12">
    <div class="container">
        <div id="map-image" class="col-lg-8" >
            <img src="images/map.png" class="img-responsive">
            <img id="map-pin" class="animated bounce" src="//dka575ofm4ao0.cloudfront.net/assets/pages/front-facing/homepage/world_map_pin-9b00ab67da88010857268b4b601658fa.png">
        </div>
        <div id="map-content" class="col-lg-4 wow fadeInRight">
            <h3>Availability-Zone Redundant</h3>
            <p>
                We are hosted primarily on AWS in us-west-2. Availability zone redundancy gives us durability in Oregon in the event that a single AZ has issues.
            </p>
            <h3>Region Redundant</h3>
            <p>
                Streaming replication gives us region redundancy all the way to eu-west-1 (Ireland) in the event all of us-west-2 goes dark.
            </p>
            <h3>100% Transparent</h3>
            <p>
                We take uptime very seriously and publish our uptime numbers for customers to see <a href="http://meta.statuspage.io" target="_blank">on our status page</a>.
            </p>
        </div>
    </div>
</div>
<div id="function" class="col-lg-12" >
    <h1 class="text-center">
        How We Can Help You?<br>
        <small>Having A Status Page Benefits Everyone In The Organization</small>
    </h1>
    <div>
        <div class="container">
            <div class="change-sections row">
                <div class="col-lg-4 ">
                    <a class="text-center help-tab active" href="#1" data-toggle="tab">DevOps Teams</a>
                </div>
                <div class="col-lg-4">
                    <a class="text-center help-tab" href="#2" data-toggle="tab">DevOps Teams</a>
                </div>
                <div class="col-lg-4">
                    <a class="text-center help-tab" href="#3" data-toggle="tab">DevOps Teams</a>
                </div>
            </div>
            <div class="tab-content ">

                <div class="tab-pane active" id="1">
                    <div class="col-lg-6">
                        <h2>Finally, a dedicated place to communicate downtime issues.</h2>
                        <p class="big-paragraph">
                            Instead of replying to the entire organization when the site goes down, you can now have them opt-in to every status update. StatusPage.io allows you to post in detail about specific downtime incidents. You can also list the status of each individual functional unit of your site -- so if one function of your site is down but all of the other parts are working, you can indicate exactly what’s going on.
                        </p>
                    </div>
                    <div class="col-lg-6 points-container">
                        <div class="point">
                            <h4>Minimize distractions during downtime</h4>
                            <p>
                                When servers are on fire, you don't need 100 internal emails and half of the executives stopping by asking why you're down.
                            </p>
                        </div>
                        <div class="point">
                            <h4>Get the whole devops team on the same page</h4>
                            <p>
                                If something is wrong, keeping the whole devops up-to-date with the issue will help it get resolved faster. <a >Pipe updates to your page directly into HipChat</a> or <a>Campfire</a>
                            </p>
                        </div>
                        <div class="point">
                            <h4>You can even schedule upcoming maintenance</h4>
                            <p>
                                Avoid the wrath of customers trying to access their dashboards only to find out that you are doing a major database migration by <a>proactively notifying customers about upcoming scheduled maintenance</a>.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="2">
                    <div class="col-lg-6">
                        <h2>Provide better support to customers with your own custom status page.</h2>
                        <p class="big-paragraph">
                            What is that noise? It's the thundering heard of support tickets that come around every time your site is down. But no more! Point customers to your new status page a few times and they'll learn to go straight there when they're experiencing issues.
                        </p>
                        <p class="big-paragraph" style="margin-top:1rem">
                            Downtime doesn't have to be a support nightmare. Our customers have seen dramatic reductions in support tickets that come in during downtime events.
                        </p>
                    </div>
                    <div class="col-lg-6 points-container">
                        <div class="point">
                            <h4>Minimize distractions during downtime</h4>
                            <p>
                                When servers are on fire, you don't need 100 internal emails and half of the executives stopping by asking why you're down.
                            </p>
                        </div>
                        <div class="point">
                            <h4>Get the whole devops team on the same page</h4>
                            <p>
                                If something is wrong, keeping the whole devops up-to-date with the issue will help it get resolved faster. <a >Pipe updates to your page directly into HipChat</a> or <a>Campfire</a>
                            </p>
                        </div>
                        <div class="point">
                            <h4>You can even schedule upcoming maintenance</h4>
                            <p>
                                Avoid the wrath of customers trying to access their dashboards only to find out that you are doing a major database migration by <a>proactively notifying customers about upcoming scheduled maintenance</a>.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="3">
                    <div class="col-lg-6">
                        <h2>Finally, a dedicated place to communicate downtime issues.</h2>
                        <p class="big-paragraph">
                            Instead of replying to the entire organization when the site goes down, you can now have them opt-in to every status update. StatusPage.io allows you to post in detail about specific downtime incidents. You can also list the status of each individual functional unit of your site -- so if one function of your site is down but all of the other parts are working, you can indicate exactly what’s going on.
                        </p>
                    </div>
                    <div class="col-lg-6 points-container">
                        <div class="point">
                            <h4>Minimize distractions during downtime</h4>
                            <p>
                                When servers are on fire, you don't need 100 internal emails and half of the executives stopping by asking why you're down.
                            </p>
                        </div>
                        <div class="point">
                            <h4>Get the whole devops team on the same page</h4>
                            <p>
                                If something is wrong, keeping the whole devops up-to-date with the issue will help it get resolved faster. <a >Pipe updates to your page directly into HipChat</a> or <a>Campfire</a>
                            </p>
                        </div>
                        <div class="point">
                            <h4>You can even schedule upcoming maintenance</h4>
                            <p>
                                Avoid the wrath of customers trying to access their dashboards only to find out that you are doing a major database migration by <a>proactively notifying customers about upcoming scheduled maintenance</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="pricing-table" class="col-lg-12">
    <div class="container">
        <h2 class="text-center">
            Pricing That Scales With You As You Grow<br>
            <small>No Minimum Contracts, No Sign-up Fees, No Cancellation Fees</small>
        </h2>
        <div id="pricing-column" class="wow fadeInLeft">
            <div class="col-lg-3 columns">
                <div class="col-header">
                    <div class="price"><h1>$29</h1></div>
                    <div class="name">Single</div>
                </div>
                <hr>
                <div class="btn-container">
                    <button class="btn-primary">GET STARTED TODAY</button>
                    <ul>
                        <li class="table-row text-center">Up To <strong>250</strong> Subscribers</li>
                        <li class="table-row"><strong>2</strong> Team Members</li>
                        <li class="table-row"><strong>Email</strong> Support</li>
                        <li class="table-row"><strong>Email</strong> Notifications</li>
                        <li class="table-row"><strong>2</strong> Public Metrics</li>
                        <li class="table-row">-</li>
                        <li class="table-row">-</li>
                        <li class="table-row">-</li>
                        <li class="table-row">-</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 columns featured">
                <div class="col-header">
                    <div class="price"><h1>$29</h1></div>
                    <div class="name">Single</div>
                </div>
                <hr>
                <div class="btn-container">
                    <button class="btn-primary">GET STARTED TODAY</button>
                    <ul>
                        <li class="table-row text-center">Up To <strong>250</strong> Subscribers</li>
                        <li class="table-row"><strong>2</strong> Team Members</li>
                        <li class="table-row"><strong>Email</strong> Support</li>
                        <li class="table-row"><strong>Email</strong> Notifications</li>
                        <li class="table-row"><strong>2</strong> Public Metrics</li>
                        <li class="table-row">-</li>
                        <li class="table-row">-</li>
                        <li class="table-row">-</li>
                        <li class="table-row">-</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 columns">
                <div class="col-header">
                    <div class="price"><h1>$29</h1></div>
                    <div class="name">Single</div>
                </div>
                <hr>
                <div class="btn-container">
                    <button class="btn-primary">GET STARTED TODAY</button>
                    <ul>
                        <li class="table-row text-center">Up To <strong>250</strong> Subscribers</li>
                        <li class="table-row"><strong>2</strong> Team Members</li>
                        <li class="table-row"><strong>Email</strong> Support</li>
                        <li class="table-row"><strong>Email</strong> Notifications</li>
                        <li class="table-row"><strong>2</strong> Public Metrics</li>
                        <li class="table-row">-</li>
                        <li class="table-row">-</li>
                        <li class="table-row">-</li>
                        <li class="table-row">-</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 columns">
                <div class="col-header">
                    <div class="price"><h1>$29</h1></div>
                    <div class="name">Single</div>
                </div>
                <hr>
                <div class="btn-container">
                    <button class="btn-success">REQUEST A DEMO</button>
                    <ul>
                        <li class="table-row text-center">Up To <strong>250</strong> Subscribers</li>
                        <li class="table-row"><strong>2</strong> Team Members</li>
                        <li class="table-row"><strong>Email</strong> Support</li>
                        <li class="table-row"><strong>Email</strong> Notifications</li>
                        <li class="table-row"><strong>2</strong> Public Metrics</li>
                        <li class="table-row">-</li>
                        <li class="table-row">-</li>
                        <li class="table-row">-</li>
                        <li class="table-row">-</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
{{> footer}}