<div id="index">
  <div class="container">
    <h1>Ottawa HR agency for Internation Student</h1>
    <p>Hundreds of Job solution added weekly</p>
    <form  novalidate="novalidate" >
      <div class="input-group">
        <input type="text" class="form-control" name="main-search"  placeholder="Search jobs..." value="" >
                <span class="input-group-btn">
                    <button class="btn btn-default" ui-sref="jobs"><i class="fa fa-search"></i>
                    </button>
                </span>
      </div>
    </form>
  </div>
</div>