<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper" ng-controller="NavbarCtrl" >
    <ul class="sidebar-nav">
      <li class="teal center-align" style="font-size: 32px;color:white;"><i class="material-icons">view_module</i>Silk Road</li>
      <li class="center-align"><a href="/"><i class="fa fa-home"></i>  Home</a></li>
      <li class="center-align"><a href="/">Jobs</a></li>
      <li class="center-align"><a href="/">Resumes</a></li>
      <li class="center-align"><a href="/">Interviews</a></li>
      <li class="center-align"><a href="/">Blogs</a></li>
      <li class="center-align"><a href="/">Employers</a></li>
      <li ng-if="!isAuthenticated()" class="center-align"><button class='btn' ui-sref="login">log in</button></li>
      <li ng-if="!isAuthenticated()" class="center-align"><button class='btn' ui-sref="signup">Sign Up</button></li>
      <li ng-if="isAuthenticated()" class="center-align"><a href="/#/profile">Profile</a></li>
      <li ng-if="isAuthenticated()" class="center-align"><button class='btn' ui-sref="login">Logout</button></li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="navbar-fixed">
            <nav >
              <div class="nav-wrapper">
                <ul class="left">
                  <li><a href="badges.html"><i class="material-icons">more_vert</i></a></li>
                  <li><a ><i class="material-icons">search</i></a></li>
                </ul>
                <ul class="left">
                  <li><a class="dropdown-button" data-activates="dropdown1"><img ng-src="{{'http://placehold.it/20x20'}}" alt="" class="circle responsive-img">{{user.username}}<i class="material-icons right">arrow_drop_down</i></a></li>
                  <ul id="dropdown1" class="dropdown-content">
                    <li><a href="#!">Dashboard</a></li>
                    <li><a href="#!">Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="/#/logout">Logout</a></li>
                  </ul>
                  <!-- Dropdown Trigger -->
                  <li><a class="dropdown-button"  data-activates="dropdown2">English<i class="material-icons right">arrow_drop_down</i></a></li>
                  <ul id="dropdown2" class="dropdown-content">
                    <li><a href="#!">English</a></li>
                    <li><a href="#!">中文</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Spanish</a></li>
                  </ul>
                </ul>
              </div>
            </nav>
          </div>

          <div class="profile-card">
            <div class="row">
              <div class="col l12">
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <div class="row">
                      <div>
                        <h3>Profile</h3>
                        <img class="profile-picture" ng-src="{{user.picture || 'http://placehold.it/200x200'}}">

                        <div class="file-field input-field">
                          <div class="file-field input-field">
                            <div class="btn">
                              <span>File</span>
                              <input ngf-select  id="img"  type="file"  ng-model="$scope.picture" ngf-accept="'image/\*'">
                            </div>
                            <div class="file-path-wrapper">
                              <input class="file-path validate" type="text">
                            </div>
                            <button type="button" ng-click="uploadImage($scope.picture)" class="btn btn-sm btn-primary" >Upload Profile Image</button>

                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <div class="row">
                      <div>
                        <div class="input-field col s12">
                          <i class="material-icons prefix">account_circle</i>
                          <input id="username" type="text" class="validate" ng-model="user.username">
                          <label for="username">Username</label>
                        </div>
                        <div class="input-field col s6">
                          <i class="material-icons prefix">account_circle</i>
                          <input id="first_name" type="text" class="validate" ng-model="user.firstname">
                          <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                          <i class="material-icons prefix">account_circle</i>
                          <input id="last_name" type="text" class="validate" ng-model="user.lastname">
                          <label for="last_name">Last Name</label>
                        </div>
                        <div class="input-field col s6">
                          <i class="material-icons prefix">phone</i>
                          <input id="icon_telephone" type="tel" class="validate" ng-model="user.phone">
                          <label for="icon_telephone">Telephone</label>
                        </div>
                        <div class="input-field col s6">
                          <i class="material-icons prefix">email</i>
                          <input id="email" type="email" class="validate" ng-model="user.email">
                          <label for="email" data-error="wrong" data-success="right">Email</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <div class="row">
                      <div class="file-field input-field">
                        <div class="btn">
                          <span>File</span>
                          <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text">
                        </div>
                      </div>
                      <button class="btn btn-lg btn-success" ng-click="updateProfile()">Update Information</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>

<script>
  $(".dropdown-button").dropdown();
</script>
