a:link { text-decoration: none;}
a:active { text-decoration:blink}
a:hover { text-decoration:underline;}
a:visited { text-decoration: none;}
/* Header */
.home-header {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
  color: white;
}
.inner {
  padding: 120px 15px 260px;
}
.home-header h1{
  font-size: 58px;
  font-family: 'Montserrat';
  font-weight: 700;
  color: white;
}
.home-header p {
  font-size: 22px;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.inner .main-search {
  margin: 0 auto;
  max-width: 700px;
}
.inner .main-search .form-control {
  height: 54px;
  background: rgba(255,255,255,0.55);
  border: none;
  color: black;
  font-size: 20px;
}
.inner .main-search .input-group-btn button{
  height: 54px;
  background: rgba(255,255,255,0.55);
  border: none;
  display: table-cell;
}
.arrow {
  font-size: 52px;
  height: 70px;
  left: 50%;
  margin-left: -27px;
  position: absolute;
  width: 54px;
  color: white;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

/*Main */

#main-nav{
  height: 50px;
  margin-bottom: 0;
}

.affix-top,.affix{
  position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top:30px;
    width:250px;
  }

  #sidebar.affix {
    position: fixed;
    top:70px;
    width:250px;
  }
}

#sidebar li.active {
  border:0 #eee solid;
  border-right-width:5px;
}

/*main-content*/
#main-content {
  margin-top: 90px;
}
.pin{
  padding: 15px 0 0 15px;
}
.box{
  padding: 10px;
  border:1px solid #ccc;
  box-shadow: 0 0 6px #ccc;
  border-radius: 5px;
  width:250px;
}
.box img{
  height:auto;
}

.panel-heading a:after {
  font-family:'Glyphicons Halflings';
  content:"\e114";
  float: right;
  color: grey;
}
.panel-heading a.collapsed:after {
  content:"\e080";
}

/*buttn width*/
.longer {
  width:100%;
}

/* about*/

#banner {
  background-image: url(//dka575ofm4ao0.cloudfront.net/assets/pages/front-facing/homepage/screen-94b1b540cf35266dbd82c209e5725dd8.jpg);
  /*background-image: url("../images/ottawa.jpg");*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-top: 208px;
  padding-bottom: 208px;
}
#banner h1 {
  color: white;
  font-size: 50px;
}

/**/

.tab-content {
  margin-top: 40px;
}
.help-tab {
  font-size: 15px;
  border: 2px solid #ccc;
  color: #afafaf;
  height: 60px;
  line-height: 61px;
  position: relative;
  display: inline-block;
  width: 100%;
}


/**/
#pricing-table {
  background: #F7F5F2;
  padding-top: 48px;
  padding-bottom: 48px;
}
#pricing-column{
  margin-top: 60px;

}
.columns {
  margin-top: 48px;
  text-align: center;
  border: 1px solid #cccccc;
  height: auto;
  box-shadow: 10px 10px 5px #888888;

}
.price {
  line-height: 3.6rem;
}
.name {
  margin-top: .5rem;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 29px;
  font-size: 1.25rem;
  line-height: 1.8125rem;
  letter-spacing: 2px;
}
.btn-container button {
  width: 100%;
  line-height: 40px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
  color: white;
  font-size: 14px;
}
.btn-container ul {
  margin: 0;
  padding: 0;
}
.btn-container li {
  display: list-item;
  margin-top: 10px;
  padding: 0 auto;
  list-style: none;
}

.featured {
  margin-top: 0px;
  padding-top: 48px;
  padding-bottom: 48px;
  background: white;
}


/**/

.change-sections {
  margin-top: 50px;
}
.active {
  background: #63c7a9;
}

#function {
  margin-top: 50px;
  margin-bottom: 70px;
}

.tab-content p {
  color: #888;
  margin-top: 20px;
}
.point {
  margin-top: 20px;
}

/**/
#map {
  height: auto;
  background: #F7F5F2;
}
#map-pin{
  top:620px;
  left:490px;
  z-index: 10;
  position: absolute;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
#map-content {
  margin-top: 120px;
  padding-left: 40px;
}
#map-content p{
  color: #888;
  margin-top: 20px;
}

/**/
#situation {
  padding-top: 60px;
  padding-bottom: 60px;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-color: #006fb2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  opacity: 0.7;
}
.count {
  font-size: 50px;
}

/*footer*/
.col-lg-12{
  padding: 0;
}
.top-section {
  background-color: #2e3133;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #888888;
}
.top-section .footer-header {
  font-size: 20px;
  color: white;
}
.top-section a{
  transition: color 0.1s linear;
  font-size: 14px;
  line-height: 10px;
  margin-top: 25px;
  color: #999;
  display: block;
}
.bottom-section {
  background-color: #25292b;
  overflow: hidden;
  height: 75px;
  line-height: 75px;
}
.bottom-section h5 {
  color: white;
}
