/*#main-content{

}


/!*数据块 砖块*!/

#main-content div{width:250px;
               margin:4px 0;}*/


#main-content {
    -webkit-column-width:260px;
    -moz-column-width:260px;
    -webkit-column-gap:8px;
    -moz-column-gap:8px;
}

.pin {
    display: inline-block;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 30px;
    padding-bottom: 10px;

}